nav {
    background-color: #dcffd4;
    color:black;
}
nav[aria-label="breadcrumb"]{
    background-color: #e9ecef;
}

#navbar-logo{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

footer{
    background-color: #A03030;
    color:black;
}

footer a{
    color: #000;
}

footer a:hover{
    color: rgb(61, 58, 58);
    font-size: 110%;
    text-decoration: none;
}
.toolbar{
    background-color: #dcffd4;
}
.card{
    margin: 30px 0px 20px 0px ;
}


.carouselId .carousel-item {
    height: 300px; }
    .carouselId .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px; }

.jumbotron{
    height: 60px; 
    padding: 0px 0px;  
}